<div>
  {{#each @articles as |article|}}
    <ArticlePreview @article={{article}} />
  {{else}}
    <div class="article-preview">No articles are here... yet.</div>
  {{/each}}
  {{#if @articles}}
    <Pagination @total={{@articles.meta.articlesCount}} @perPage={{10}} @current={{@page}}
      @existingParams={{hash author=@feed tag=@tag}} />
  {{/if}}
</div>